.cache/
.cache
config.ini
.bashrc/
.bashrc
.local/
.local
.virtualenvs/
.virtualenvs
.gitconfig
.my.cnf
.viminfo
.profile
.ipython/profile_default/startup
.ipython/profile_default/startup/
.pythonstartup.py
.bashrc
.vimrc
