{% extends 'layout.html' %}

{% block title %}Cambio de Contraseña{% endblock %}
{% block body_classes %}Cambio-contra{% ednblock %}

{% block body %}


<div class="main">

    <p>Este sitio está en construcción</p>
    <p>Hola {{user.nombres}}</p>
    <div class="input">
    <input type="password" placeholder="Contraseña actual">
    </div>
    <div class="input">
    <input type="password" placeholder="Nueva Contraseña">
    </div>
    <div class="input">
    <input type="password" placeholder="Confirmar Contraseña">
    </div>
    <button class="Confirmar">Confirmar</button>
    
    
    <p>Tu sesión expira: {{sesion.expires}}</p>

    {% for dato in d_x %}

    <p><strong>ID: {{dato.id}}</strong> Dato: {{dato.dato}}</p>

    {% endfor %}

</div>

<p>Estamos trabajando para tí</p>

<div>


</div>


{% endblock %}